.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: " ";
  /* layout */
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
@font-face {
  font-family: fontawesome;
  src: url(fonts/fontawesome-webfont.ttf), url(fonts/FontAwesome.otf);
}
